.containerCondiciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tituloCondiciones{
    color: white;
}
.parrafo{
    color: white;
    text-align: center;
}