.card {
    box-shadow: 3px 2px 83px -29px rgba(0, 0, 0, 0.29);
    -webkit-box-shadow: 3px 2px 83px -29px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 3px 2px 83px -29px rgba(0, 0, 0, 0.29);
}

.containerTitulo {
    padding: 0px;
    text-align: center;
}