
.container{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.secciones{
    text-decoration: none;
    list-style: none;
    margin: 5px;
    padding: 5px;
    color: rgb(29, 26, 26);
}
.cartwidget{
    width: 20px;
    height: 20px;
    margin-right: 20px;
}