.containerRedSocials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.redesSociales{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.cartwidget{
    color: white;
    width: 25px;
    height: 25px;
    box-shadow: 3px 2px 83px -29px rgba(0, 0, 0, 0.29);
    -webkit-box-shadow: 3px 2px 83px -29px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 3px 2px 83px -29px rgba(0, 0, 0, 0.29);
    margin: 30px;
}

.tituloRedSocials{
    color: white;
    margin-top: 40px;
}