.containerMayor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.containerContacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.imagenDeContacto {
    width: 300px;
    height: 300px;
    box-shadow: 3px 2px 83px -29px rgba(0, 0, 0, 0.29);
    -webkit-box-shadow: 3px 2px 83px -29px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 3px 2px 83px -29px rgba(0, 0, 0, 0.29);
    border-radius: 4px;
}

.parrafoContacto {
    width: 80%;
    padding: 20px;
}

.sombraForm {
    box-shadow: 17px 17px 24px -5px rgba(77, 71, 71, 0.64);
    -webkit-box-shadow: 17px 17px 24px -5px rgba(77, 71, 71, 0.64);
    -moz-box-shadow: 17px 17px 24px -5px rgba(77, 71, 71, 0.64);
}