.containerGuiño{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icono{
    width: 30px;
    height: 30px;
    color: white;
}
.tituloo{
    color: white;
}
@media (min-width: 320px) and (max-width: 480px){

}