.itemListContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5.6rem 5.6rem 5.6rem;
}
.containerNavegacionInter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}